<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">       
      NHibernate.Connection.DriverConnectionProvider  
    </property>
    <property name="connection.driver_class">      
      NHibernate.Driver.SqlClientDriver     
    </property>
    <property name="command_timeout">   
      300    
    </property>
    <property name="connection.connection_string">
      Data Source=10.200.2.18;Initial Catalog=BiuroPracy66464;User ID=stud;Password=wsiz;
    </property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="show_sql">false</property>
    <mapping xmlns="urn:nhibernate-configuration-2.2" assembly="BiuroPracy.Domain" />
  </session-factory>
</hibernate-configuration>